
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blueviolet;
}
.container{
    width:400px;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding: 24px;
    z-index: 100;
 
}
#title{
   margin: 0px;
   color: blueviolet;
}
.container img{
    width:80px;
    height:80px;
    margin: 0;
}
.select-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.select-time{
     width: 25%;
     height:32px;
     border-radius: 5px;
     font-size: 14px;
     outline: none;
     
}



#clock{
    font-size: 32px;
    text-align: center;
    color: blueviolet;
}
.alarm-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#set-alarm{
   width: 35%;
   margin-top: 10px;
   padding: 8px;
   background: blueviolet;
   color: whitesmoke;
   border-radius: 5px;
   font-size: 20px;
   cursor: pointer
}
#stop-alarm{
    width: 35%;
    margin-top: 10px;
    padding: 8px;
    background: blueviolet;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer
 }

#set-alarm:hover{
    background: rgba(128, 0, 128, 0.763);
}
#stop-alarm:hover{
    background: rgba(128, 0, 128, 0.763);
}
#alarm-list-title{
    color: blueviolet;
    font-weight: 600;
}
#alarm-list{
    list-style-type :none;
    margin:0;
    padding: 0;
    width: 100%;
}
#alarm-list li{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
#alarm-list li p{
    width : 30%;
    font-size: 20px;
    font-weight: 600;
    color: blueviolet;
    padding: 0;
    margin: 0;
}

#alarm-list li button{
    width:20%;
    height:30px;
    background: blueviolet;
    padding: 0;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 14px;
}
#alarm-list li button:hover{
    background: rgba(128, 0, 128, 0.763);
}
